.photo {
    height: 70px;
    width: 70px;
}

.wrapper {
    width: 70px;
    margin: 10px
}

.selectedPage {
    font-weight: bold;

}

span {
    font-size: 20px;
    padding-left: 5px;
    color:navy;
}
