.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogItems .dialog {
    padding: 10px;
}

.dialogItems .active {
    color: crimson;
}
.messages {

}

.messages .message {
    padding: 3px;
}

.path a{
    text-decoration: none;
}